TRANSPORT="http" # Can be 'stdio' or 'http'
MCP_PORT=3323

# MCP: The info used when mode is set to 'http'. The client ID and secret can be anything you want, but the public URL should be where your MCP server is accessible (including port if not 80/443) and must be correct for authentication to work.
MCP_CLIENT_ID="<your_client_id>"
MCP_CLIENT_SECRET="<your_client_secret>"
MCP_PUBLIC_URL="http://localhost:3323"

# Planka: https://docs.planka.app/integrations/api#authentication (create a user and use their credentials, or generate an API token) and set PLANKA_ROOT to your Planka instance URL
PLANKA_ROOT='<your_planka_root>'
PLANKA_USER='<your_planka_user>'
PLANKA_PASSWD='<your_planka_password>'

# GitHub: https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api#authentication (generate a personal access token with 'repo' scope) and set GITHUB_TOKEN to it
GITHUB_TOKEN="<your_github_token>"
GITHUB_ALLOW_ISSUE_CREATION=false # Set to allow for Issue creation in your name

# Gitea: https://try.gitea.io/user/settings/applications (generate a token with 'repo' scope) and set GITEA_ROOT to your Gitea instance URL
GITEA_ROOT="<your_gitea_root>"
GITEA_TOKEN="<your_gitea_token>"
GITEA_ALLOW_ISSUE_CREATION=false # Set to true to allow AIttache to create issues in your Gitea instance when the "repos" action is triggered. Only enable this if you trust the sources of your triggers, as it could be abused to create spam issues.

# Mealie: https://docs.mealie.io/integrations/api#authentication
MEALIE_ROOT="<your_mealie_root>"
MEALIE_TOKEN="<your_mealie_token>"

# Uptime Kuma: https://uptime.kuma.pet/docs/api/authentication (generate a token with 'read' scope) and set UPTIME_KUMA_ROOT to your Uptime Kuma instance URL
UPTIME_KUMA_ROOT="<your_uptime_kuma_root>"
UPTIME_KUMA_TOKEN="<your_uptime_kuma_token>"

# FreshRSS: https://freshrss.github.io/en/api/#authentication (create a user and use their credentials) and set FRESHRSS_ROOT to your FreshRSS instance URL
FRESHRSS_ROOT="<your_freshrss_root>"
FRESHRSS_USER="<your_freshrss_user>"
FRESHRSS_API_PASSWORD="<your_freshrss_api_password>"

# Steam: https://partner.steamgames.com/doc/webapi_overview/auth (generate an API key) and set STEAM_API_KEY to it
STEAM_API_KEY="<your_steam_api_key>" # Get at https://steamcommunity.com/dev/apikey
STEAM_USER_VANITY_ID="<your_steam_vanity_id>" # Get your Vanity ID at https://steamcommunity.com/my

# CalDAV: Set CALDAV_ROOT to your CalDAV server URL, and CALDAV_USER and CALDAV_PASSWD to a valid user's credentials. The user must have at least one calendar for the "caldav" action to work.
CALDAV_ROOT="<your_caldav_root>"
CALDAV_USER="<your_caldav_user>"
CALDAV_PASSWD="<your_caldav_passwd>"

# OMDb: http://www.omdbapi.com/apikey.aspx (free for 1000 daily requests) and set
OMDB_API_KEY="<your_omdb_api_key>" # Get at http://www.omdbapi.com/apikey.aspx

# Watcher: Grants read access to anything at the given path. It takes any variable starting with WATCH_
WATCHER_FILE_HERE="<your_file_to_watch_path>"
WATCHER_THIS_ONE_TOO="<your_file_to_watch_path>"
