TRANSPORT="http" # Can be 'stdio' or 'http'
MCP_PORT=3323

# MCP: The info used when mode is set to 'http'. The client ID and secret can be anything you want, but the public URL should be where your MCP server is accessible (including port if not 80/443) and must be correct for authentication to work.
MCP_CLIENT_ID="<your_client_id>"
MCP_CLIENT_SECRET="<your_client_secret>"
MCP_PUBLIC_URL="http://localhost:3323"

# Planka: https://docs.planka.app/integrations/api#authentication (create a user and use their credentials, or generate an API token) and set PLANKA_ROOT to your Planka instance URL
PLANKA_ROOT='<your_planka_root>'
PLANKA_USER='<your_planka_user>'
PLANKA_PASSWD='<your_planka_password>'

# Gitea: https://try.gitea.io/user/settings/applications (generate a token with 'repo' scope) and set GITEA_ROOT to your Gitea instance URL
GITEA_ROOT="<your_gitea_root>"
GITEA_TOKEN="<your_gitea_token>"

# Mealie: https://docs.mealie.io/integrations/api#authentication
MEALIE_ROOT="<your_mealie_root>"
MEALIE_TOKEN="<your_mealie_token>"

# Watcher: Grants read access to anything at the given path. It takes any variable starting with WATCH_
WATCHER_FILE_HERE="<your_file_to_watch_path>"
WATCHER_THIS_ONE_TOO="<your_file_to_watch_path>"
